<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="testSuite" parallel="tests">


	<test name="Test1" enabled="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.Telus" />
		</classes>
	</test>

	<test name="Test2" enabled="true">
		<parameter name="browser" value="Android" />
		<parameter name="udid" value="13201FDD4001SR" />
		<classes>

			<class name="TestCases.Telus" />

		</classes>
	</test>

	<test name="Test3" enabled="true">
		<parameter name="browser" value="iOS" />
		<parameter name="udid" value="Auto" />
		<classes>
			<class name="TestCases.Telus" />
		</classes>
	</test>

</suite>